.container,
.reverseContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reverseContainer {
  flex-direction: row-reverse;
}

.fieldset {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  accent-color: white;
}
